<link rel="import" href="../polymer/polymer.html">

<!-- INICIO nuestro componente padre -->
<dom-module id="polymer-inout">
  <template>
      <style is="custom-style">
      .container{
        border: 1px solid blue;
        padding: 10px;
        margin: 20px 0;
      }
    </style>
    <div class="container">
      Hola <strong>[[nombre]]</strong> desde un input.
      <input value ="{{nombre::input}}">
    </div>
  </template>
  <script>
    Polymer({
      is: "polymer-inout",
      properties: {
        nombre: {
          type: String,
          value: 'sss2'
        }
      }
    });
  </script>

</dom-module>